apiVersion: v1
kind: ConfigMap
metadata:
  name: credentials-configmap
data:
  config.json: |
    {
      "auths": {
        "i999999.artifact-registry.corvina.cloud": {
          "auth": "xxxxxxxxxxxxxxx"
        }
      }
    }